@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  background-color: hsl(210deg, 46%, 95%);
}

.main-section {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  background-color: #fff;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .main-section {
    margin-top: 20rem;
    display: flex;
    max-width: 100rem;
  }
}
.main-section .main-image {
  width: 100%;
  max-width: 40rem;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}
@media (min-width: 1024px) {
  .main-section .main-image {
    width: 40%;
    height: auto;
    border-radius: 1rem 0 0 1rem;
  }
}
.main-section .content-section {
  width: 100%;
  margin: 2rem auto;
}
@media (min-width: 1024px) {
  .main-section .content-section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.main-section .content-section .main-header {
  margin: auto 2rem;
  font-size: 1.8rem;
  color: hsl(217deg, 19%, 35%);
}
@media (min-width: 1024px) {
  .main-section .content-section .main-header {
    margin: 0 2rem;
  }
}
.main-section .content-section .paragraph {
  margin: 1rem 2rem 2rem;
  font-size: 1.5rem;
  color: hsl(214deg, 17%, 51%);
}
.main-section .content-section .footer {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-section .content-section .footer .person {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-section .content-section .footer .person .portret {
  margin-right: 1.5rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.main-section .content-section .footer .person .person-dates .name {
  font-size: 1.4rem;
  color: hsl(214deg, 17%, 51%);
}
.main-section .content-section .footer .person .person-dates .date {
  font-size: 1.4rem;
  color: hsl(212deg, 23%, 69%);
}
.main-section .content-section .footer .share-icon, .main-section .content-section .footer .social-media .share-icon-active, .main-section .content-section .social-media .footer .share-icon-active {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: hsl(210deg, 46%, 95%);
  border-radius: 50%;
  cursor: pointer;
}
.main-section .content-section .social-media {
  padding: 2rem;
  margin: 0px;
  display: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(217deg, 19%, 35%);
  border-radius: 0 0 1rem 1rem;
  display: none;
}
@media (min-width: 1024px) {
  .main-section .content-section .social-media {
    position: absolute;
    height: 5rem;
    border-radius: 1rem;
    justify-content: space-around;
    width: 25rem;
    margin: 5rem auto 0 39rem;
    display: flex;
    flex-direction: column;
  }
}
.main-section .content-section .social-media .share {
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-section .content-section .social-media .share .share-text {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: hsl(212deg, 23%, 69%);
  font-weight: 300;
}
.main-section .content-section .social-media .share .social-media-icon {
  cursor: pointer;
}
.main-section .content-section .social-media .share-icon-active {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: hsl(210deg, 46%, 95%);
  border-radius: 50%;
}
.attribution {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.8rem;
}
.attribution a {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */